<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/ameya.png" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="content">
      <li>Machine Learning Researcher at <a href="https://www.iri.upc.edu/">IRI (UPC-CSIC)</a></li>
      <li>Creator and maintainer of <a href="https://github.com/Cloud-CV/EvalAI">EvalAI Project</a></li>
      <li>Masters in Computer Science (specialization in Machine Learning), Georgia Tech</li>
      <li>B.Tech in Electrical and Electronics from BITS Pilani, Pilani </li>
    </ul>
    <p class="content">I work at the junction of software engineering and AI research. I am excited about building
      large-scale machine learning systems and care a lot about writing neat and clean software.
    </p>

    <p class="content">Important links : 

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/nudlesoup">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-linkedin" target="_blank"
        href="https://www.linkedin.com/in/ameyadhamanaskar/">
        <span class="fa fa-linkedin"></span>
      </a>

      <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ameyad1995" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-facebook" target="_blank" href="http:///www.facebook.com/people/Ameya-Dhamnaskar/100007080079093">
        <span class="fa fa-facebook"></span>
      </a>
  </div>
</div>
