  <div class="row">
    <h2>Projects</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Extracting Adverse Drug Reactions from tweets</h3>
        <br>
        <p>Analysed sentiment analysis features on ADR's retrival.</p>
        <a class="github-button btn" href="https://github.com/nudlesoup/ExtractingAdverseDrugReactions" data-size="large" data-show-count="false" aria-label="nudlesoup/ExtractingAdverseDrugReactions on GitHub">Code</a>
      </div>
    </div>
    <br>
   <!--  <div class="row">
      <div class="col-sm-4">
        <a href="https://evalai.cloudcv.org" target="_blank"><img src="/static/img/evalai_preview.png" width="100%"></a>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/kaggle_comparison.png" width="100%">
      </div>
      <div class="col-sm-4" align="center">
        <h5>Invited talk on EvalAI in VQA 2017 Workshop</h5>
        <iframe width="100%" height="200px" src="https://www.youtube.com/embed/goEe4gx1yZg?rel=0&amp;showinfo=0;start=1682" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div> -->
    </div>
    <hr>
     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Predicting 3D body joints from ego-view</h3>
        <br>
        <p>• Regressed 3D body joints from ego-views, used auto-encoders (Resnet-152) to extract the static scene features and decoder RNN’s (LSTM) with dense optical flow and homographic to extract dynamic motion features to predict poses on the egocentric images.</p>
        <a class="github-button btn" href="https://github.com/nudlesoup/you2me" data-size="large" data-show-count="false" aria-label="nudlesoup/you2me on GitHub">Code</a>
        <a class="github-button" href="https://github.com/nudlesoup/you2me" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star nudlesoup/you2me on GitHub">Star</a>
        <a class="github-button" href="https://github.com/nudlesoup/you2me/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork nudlesoup/you2me on GitHub">Fork</a>
      </div>
    </div>
    <hr>
     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Extracting Adverse Drug Reactions from tweets</h3>
        <br>
        <p>Analysed sentiment analysis features on ADR's retrival.</p>
        <a class="github-button btn" href="https://github.com/nudlesoup/ExtractingAdverseDrugReactions" data-size="large" data-show-count="false" aria-label="nudlesoup/ExtractingAdverseDrugReactions on GitHub">Code</a>
      </div>
    </div>
    <hr>
     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Extracting Adverse Drug Reactions from tweets</h3>
        <br>
        <p>Analysed sentiment analysis features on ADR's retrival.</p>
        <a class="github-button btn" href="https://github.com/nudlesoup/ExtractingAdverseDrugReactions" data-size="large" data-show-count="false" aria-label="nudlesoup/ExtractingAdverseDrugReactions on GitHub">Code</a>
      </div>
    </div>
    <hr>
     <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Extracting Adverse Drug Reactions from tweets</h3>
        <br>
        <p>Analysed sentiment analysis features on ADR's retrival.</p>
        <a class="github-button btn" href="https://github.com/nudlesoup/ExtractingAdverseDrugReactions" data-size="large" data-show-count="false" aria-label="nudlesoup/ExtractingAdverseDrugReactions on GitHub">Code</a>
      </div>
    </div>
  </div>
