  <div class="row">
    <h2>Projects</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><a target="_blank" href="http://evalai.cloudcv.org">EvalAI</a>: Evaluating state of the art in AI</h3>
        <br>
        <p>Open source platform to create, collaborate and participate in the AI Challenges organized around the globe.</p>
        <a class="github-button btn" href="https://github.com/cloud-cv/evalai" data-size="large" data-show-count="false" aria-label="cloud-cv/evalai on GitHub">Code</a>
        <a class="github-button" href="https://github.com/cloud-cv/evalai" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star cloud-cv/evalai on GitHub">Star</a>
        <a class="github-button" href="https://github.com/cloud-cv/evalai/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork cloud-cv/evalai on GitHub">Fork</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <a href="https://evalai.cloudcv.org" target="_blank"><img src="/static/img/evalai_preview.png" width="100%"></a>
      </div>
      <div class="col-sm-4">
        <img src="/static/img/kaggle_comparison.png" width="100%">
      </div>
      <div class="col-sm-4" align="center">
        <h5>Invited talk on EvalAI in VQA 2017 Workshop</h5>
        <iframe width="100%" height="200px" src="https://www.youtube.com/embed/goEe4gx1yZg?rel=0&amp;showinfo=0;start=1682" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <hr>
  </div>
